.list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}


/* .inputs {
    display: flex;
    flex-direction: column;
    width: 250px;
} */ 


.card {
    width: 250px;
    border: 5px inset #ffef96;
    /* margin: 1em;
    padding: .5em; */
    background: #034f84;
}

.formtainer {
    max-width: 400px;
    margin: 0 auto;
    padding-top: 2rem;
    /* display: flex; */
    /* justify-content: center; */
} 